// Navigation code here
nav{
    .navStyle();

    .flexBox(column wrap, center, center);

    padding: 10px 0px;

    div{
        .flexBox(row nowrap, space-between, center);
        width: 25%;

        padding: 5px 0px;

        a{
            text-decoration: none;
        }
    }
}